<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= turbo_stream_from "messages" %>
      <div id="messages">
        <%= render @messages %>
      </div>
      <div class="form-group message-form">
        <%= form_with(model: [@message], remote: true, class: "d-flex",
                      data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |f| %>
          <%= f.text_field :body, id: 'chat-text', class: "form-control message-input", autocomplete: 'off' %>
          <%= f.submit data: { disable_with: false }, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3">
      <h4>Users</h4>
      <%= turbo_stream_from "users" %>
      <div id="users">
        <ul>
          <%= render @users %>
        </ul>
      </div>
    </div>
  </div>
</div>
